<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <connectionStrings>
      <add name="Local" connectionString="Data Source=PABLO-PC\SQLEXPRESS;Initial Catalog=SistemaTracking;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
      <!--<add name="Local" connectionString="Server=tcp:pbarco.database.windows.net,1433;Initial Catalog=ProgConcurrente;Persist Security Info=False;User ID=pbarco;Password=12345Pablo;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
      <!--<add name ="Local" connectionString="Data Source=mario-ulp\sqlexpress;Initial Catalog=Concurrencia;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>-->
    </connectionStrings>
</configuration>