<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <appSettings>
      <add key="IpServidor" value="10.75.60.82" />
      <add key="PuertoServidor" value="8999"/>
      <add key="DirectorioLog" value="C:\tempo\log\"/>
    </appSettings>


</configuration>
